<div class="background">
  <div class="color-light">

    <div class="container">
      <h1 class="h1colour centered">CODE NAME GENERATOR</h1>
    </div>

    <div class="container">
      <div class="centered">
          <input type="text" name="PSearchField" placeholder="Search Pokemon" [(ngModel)]="pokeLetter">
      </div>
    </div>
    <div class="container">
        <div class="centered">
          <input type="submit" name="PSubmitButton" [value]="btnText" (click)="findPokemon()">
        </div>
    </div>

  </div>
</div>